<!DOCTYPE html>
<html>

<head>
  <!-- the title for the website -->
  <title>Atoz</title>

  <meta property="og:title" content="AtoZ" />
  <meta property='og:image' content="<%= image_url('https://atoz-seeds.s3.us-east-2.amazonaws.com/atoz.png') %>" />
  <meta property="og:description" content="This is a clone website of Amazon a place where customers shop what they need online." />
  <meta property="og:url" content="https://atozs.herokuapp.com/#/" />

  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

      <%= stylesheet_link_tag 'application' , media: 'all' %>
        <%= javascript_include_tag 'application' %>
          <link rel="shortcut icon" type="image/jpg"
            href="https://atoz-seeds.s3.us-east-2.amazonaws.com/atoz_logo.png" />

</head>

<body>
  <%= yield %>
</body>

</html>